<section id="experience" class="experience section">
    <div class="container">
        <h2>Опыт работы</h2>
        
        <div class="experience__item">
            <div class="experience__header">
                <h3>Главный системный аналитик</h3>
                <span>Иннотех, Группа компаний</span>
                <p>Февраль 2022 - настоящее время</p>
            </div>
            <div class="experience__description">
                <ul>
                    <li>Управление требованиями и фасилитация</li>
                    <li>Моделирование архитектуры и процессов</li>
                    <li>Проектирование интеграций и API</li>
                    <li>Проектирование данных</li>
                    <li>Системный дизайн и постановка задач</li>
                </ul>
            </div>
        </div>
    </div>
</section>
