<section id="skills" class="skills section">
    <div class="container">
        <h2>Компетенции</h2>
        
        <div class="skills__categories">
            <div class="skills__category">
                <h3>Методологии</h3>
                <ul>
                    <li>Agile</li>
                    <li>Scrum</li>
                    <li>SAFe</li>
                </ul>
            </div>
            
            <div class="skills__category">
                <h3>Инструменты</h3>
                <ul>
                    <li>Jira</li>
                    <li>Confluence</li>
                    <li>Swagger</li>
                    <li>PlantUML</li>
                </ul>
            </div>
            
            <div class="skills__category">
                <h3>Технологии</h3>
                <ul>
                    <li>SQL</li>
                    <li>PostgreSQL</li>
                    <li>REST API</li>
                    <li>Kafka</li>
                </ul>
            </div>
        </div>
    </div>
</section>
